@model IEnumerable<Sms.Domain.Dto.StudentDto>

@{
    Layout = "_Layout";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

@Html.ActionLink("New", "New", "Student", null, new { @class = "btn btn-primary" })


<table  class="table table-hover table-bordered ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stu in Model)
        {
            <tr>
                <td>@Html.ActionLink(stu.Name, "Update", "Student", new { id = stu.Id })</td>
                <td>
                    @Html.ActionLink("Update", "Update", "Student", new { id = stu.Id, stu.Name }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Delete", "Delete", "Student", new { id = stu.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
