@model IEnumerable<Sms.Domain.Dto.StudentDto>

@{
    Layout = "_Layout";
}





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

@Html.ActionLink("New", "New", "Student", null, new { @class = "btn btn-primary" })


<table id="studentTable" class="table table-hover table-bordered ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Father Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Home Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



<script>
    $(document).ready(function () {
        $('#studentTable').DataTable();
    });
</script>







